<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheet/home.css">
    <title>YelpCamp</title>
</head>
<body class="text-center bg-dark text-white">
    <div class="cover-container d-flex flex-column mx-auto h-100">
      <header>
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
              <h3 class="float-md-left">YelpCamp</h3>
              <nav class="nav justify-content-center float-md-right">
                <a class="nav-link active" href="/">Home</a>
                <a class="nav-link" href="/register">Register</a>
                <a class="nav-link" href="/login">Login</a>
              </nav>
            </div>
          </nav>
        </header>
      <main class="my-auto">
        <h1>YelpCamp</h1>
        <p class="lead"> Welcome to YelpCamp! <br> Jump right in and explore our many campgrounds. <br>
          Feel free to share some of your own and comment on others!</p>
      <a href="/campgrounds" class="btn btn-lg btn-secondary font-weight-bold border-white bg-white">View
          Campgrounds</a>
      </main>
      <footer class="text-white-50">
        <p>&copy; 2020 </p>
    </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>