<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Campground</title>
</head>
<body>
    <h1>Add a Campground</h1>
    <form action="/campgrounds" method="POST">
        <label for="title">Campground title</label>
        <input type="text" name="campground[title]" id="title">
        <label for="title">Campground location</label>
        <input type="text" name="campground[location]" id="location">
        <button>Submit</button>
    </form>
    <a href="/campgrounds">All campgrounds</a>
</body>
</html>